---
layout: layout.liquid
pageTitle: MBSR Readings
---

<ol>
    <li>
      <h2>Intro Material</h2>
      <ul>
          {% for reading in collections.week0 %}
              <li>
                  <a href="{{ reading.url }}"><h3>{{ reading.data.pageTitle }}</h3></a>
              </li>
          {% endfor %}
      </ul>
    </li>
    <li>
        <h2>Week 1: Tasting Your Life</h2>
        <ul>
            {% for reading in collections.week1 %}
                <li>
                    <a href="{{ reading.url }}"><h3>{{ reading.data.pageTitle }}</h3></a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h2>Week 2: Seeing and Believing</h2>
        <ul>
            {% for reading in collections.week2 %}
                <li>
                    <a href="{{ reading.url }}"><h3>{{ reading.data.pageTitle }}</h3></a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h2>Week 3: Scent of Your Roses</h2>
        <ul>
            {% for reading in collections.week3 %}
                <li>
                    <a href="{{ reading.url }}"><h3>{{ reading.data.pageTitle }}</h3></a>
                </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <h2>Week 4: When Life Hurts</h2>
        <ul>
            {% for reading in collections.week4 %}
                <li>
                    <a href="{{ reading.url }}"><h3>{{ reading.data.pageTitle }}</h3></a>
                </li>
            {% endfor %}
        </ul>
    </li>
</ol>
